<!-- Blog Post -->
<div class="card mb-4">
    <img class="card-img-top" src="{{ url_for('static', filename='images/' + post.image) }}" alt="Card image cap">
    <div class="card-body">
        <h2 class="card-title">{{ post.title }}</h2>
        <p class="card-text">{{ post.body[:32] }}</p>
        <a href="{{ url_for('article', slug=post.slug) }}" class="btn btn-primary">Read More &rarr;</a>
    </div>
    <div class="card-footer text-muted">
        Posted on {{ moment(post.timestamp).fromNow() }} by
        <a href="#">{{ post.author.username }}</a>
    </div>
</div>