{% extends "base.html" %} 
{% from 'bootstrap/form.html' import render_field %} 

{% block content %}
<h1 class="my-4">Add Article</h1>
<div class="row">
    <div class="col-md-8">
        <form action="" method="post" enctype="multipart/form-data">
            {{ form.csrf_token() }}
            <div class="form-group">
                {{ render_field(form.title) }}
            </div>
            <div class="form-group">
                {{ form.body.label(for="editor") }}
                {{ form.body(rows="8", class="form-control", id="editor") }}
                {% for error in form.body.errors %}
                    <div class="invalid-feedback">
                        {{ error }}
                    </div>
                {% endfor %}

            </div>
            <div class="custom-file mb-4">
                {{ form.image(id="file", class="custom-file-input")}} 
                {{ form.image.label(for="file", class="custom-file-label") }}
            </div>
             {% for error in form.image.errors %}
            <p>
                {{ error }}
            </p>
            {% endfor %}
            
            {{ render_field(form.submit) }}
        </form>
    </div>
</div>
{% endblock %}